<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/layout/normalize.css">
    <link rel="stylesheet" href="~/css/layout/backlayer.css">
    <link rel="stylesheet" href="~/css/layout/header.css">
    <link rel="stylesheet" href="~/css/layout/article.css">
    <link rel="stylesheet" href="~/css/layout/sidebar.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    @RenderSection("HEAD", false)
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="acc_info_container">
                <div class="foto"></div>
                <div class="info_header">
                    <ul>
                        <li class="text_article">Login</li>
                        <li><p><span class="text_article">FIO:</span><span>First_Name Last_Name</span></p></li>
                        <li><p><span class="text_article">Position:</span><span>Position</span></p></li>
                    </ul>
                </div>
            </div>
            <div class="menu-logo">
                <div class="menu">
                    <a href="#"><div class="button">Log Out</div></a>
                </div>
                <div class="logo_header">
                    <img src="/source/img/Icon_v2_18_44.png" alt="logo">
                </div>

            </div>
        </div>
    </header>
    <article>
        <div class="wrapper">
            <div class="contant">
                <div class="h1">
                    <h1>Project List</h1>
                </div>
                <div class="lvl_1_container">
                    @RenderBody()
                </div>
            </div>
            <div class="side_bar-container">
                <div class="side_bar">
                    <span class="button">New project</span>
                </div>
            </div>
        </div>
    </article>
</body>
</html>
