@{
    ViewData["Title"] = "IDQ 0";
}
<form method="post">
    <div class="inputs_text_container">
        <input class="text_input" type="text" placeholder="Login" name="Login">
        <input class="text_input" type="password" placeholder="Password" name="Password">
    </div>
    <div class="submit_container">
        <input class="button submit_button" type="submit" value="">
    </div>
</form> 
