article .wrapper{
    height: auto;
    display: flex;
    
    padding-bottom: 15px;
}
.contant{
    height: auto;
    width: 1060px;
    display: flex;
    flex-direction: column;
    
    padding-left: 30px;
    padding-right: 30px;
    
}

.contant .h1 h1,h2{
    margin: 3px;
}
.contant .h1{
    height: auto;
    width: 100%;
    
    text-align: center;
    
    padding: 10px;
    
    background-color: var(--backgroundColor);
    
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,0.75);
}

.lvl_1_container{
    margin-top: 30px;
    height: auto;
    padding-bottom: 3%;
}

.lvl_2_container:first-child{
    margin: 0;
}
.lvl_2_container{
    position: relative;
    z-index: 0;
    
    height: auto;
    margin: 20px 0px;
    padding: 15px;
    
    background-color: var(--backgroundColor);
    
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.lvl_2_container h2{
    text-align: center;
    margin: 8px;
}
.lvl_2_container i{
    position: absolute;
    top: 20px;
    z-index: 0;
}

.lvl_3_container{
    position: relative;
    z-index: 0;
    margin: 20px 0px;
    margin-left: 60px;
    padding: 15px;
    
    background-color: var(--backgroundColor);
    
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.lvl_3_container i{
    position: absolute;
    z-index: 0;
}

.options{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    height: auto;
    width: 80px;
    
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    
    background-color: var(--backgroundColor);
    
    overflow: hidden;
    transition: .1s;
    cursor: pointer;
}
.options i{
    color: var(--emphColor);
}
.options span{
    display: none;
    height: 30px;
    width: 100%;
    margin-bottom: 8px;
}
.options span:first-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
.options span:last-child{
    margin-top: 20px;
}

.options:hover span{
    display: block;
}
.options:hover span:first-child{
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
.options:hover{
    height: auto;
    width: 250px;
    z-index: 3;
    transition: .1s;
}