@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма добавления проекта</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td><input type="number" name="Priority" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea name="Description"></textarea></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
